{% extends 'base.html' %}

{% block content %}

    <div class="about"> 
    <div class="content">
    <div class="container text-center">
            <div class="container-fluid mt-5">
                <h1>About Page</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quo culpa beatae deserunt accusantium eius. Inventore tenetur vero voluptate ducimus incidunt? Dolorum vitae nesciunt quaerat commodi molestias ex odit voluptatibus. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae eos inventore, modi sit quibusdam alias possimus iusto iste dolores, illo odio asperiores assumenda eum dolor? Culpa enim voluptatibus laborum adipisci.</p>
            </div>

    </div>
    </div>
    </div>
{% endblock  %}