{% extends 'base.html' %}

{% block content %}

    <div class="about"> 
    <div class="content">
    <div class="container text-center">
            <div class="container-fluid mt-5">
                <h1>About Page</h1>
                <p>Can Do, is an app with many possibilities. I created Can Do in the hopes that I would continue to add more features until it turned into a full-fledged, complex, multi-layered application. I plan on adding many features, as well as expand more on the concept of task tracking and how I can integrate a more psychological perspective to it.</p>
            </div>

    </div>
    </div>
    </div>
{% endblock  %}