{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}



<div class="dashboard text-center">
    <div class="content">

        <div class="container-fluid">
            <h1>Welcome to your Dashboard, <span class="user">{{ user }}</span> </h1>
            <hr>
    
            <div class="container">
                <div class="row">
                    <div class="col-md-6 m-auto">

                        <div class="container text-center mb-5">
                            <button class="btn btn-primary text-center" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                New List
                              </button>
                            </p>
                            <div class="collapse" id="collapseExample">
                              <div class="card card-body border-0">
                                <div class="row justify-content-center">
                                    <form method="POST" class="text-center" >
                                        <small>You can add new Lists here.</small>
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <button type="submit" class="m-2 btn btn-primary">Add New List</button>
                                    </form>
                                </div>
                              </div>
                            </div>
                        </div>
                        
                   
                        
                    </div>
    
                    <div class="col-lg-6">
    
    
                        {% for list in user.list_set.all %}
                        <a href="update_list/{{list.id}}">
                            
                        <div class="list-name p-3 rounded m-3">
                
                          
                                    <h4 class="text-white">{{ list.list_name }}</h4>
                                    <p class="text-white">{{ list.list_description }}</p>
                                    <a class="btn btn-danger" href="delete_list/{{ list.id }}/" role="button">Delete</a>
                           
                
                
                            </div>
                        </a>
                        {% endfor %}
    
                    </div>
                    
                </div>
            </div>



    </div>    







    </div>
</div>
{% endblock  %}