{% extends 'base.html' %}

{% block content %}

<div class="landing">

    <div class="content text-center">
        <div class="container-fluid">
            <h1>Ab ToDo</h1>
            <hr class="w-50 mx-auto">
        </div>
        <div class="container">
            <p>There are currently<span class="m-2 p-2 text-white font-weight-bold">{{ count }}</span>users registered</p>
            <hr>


            {% if user.is_authenticated %}
            <a href="{% url 'dashboard' %}" class="btn btn-success">To Dashboard</a> 
            {% else %}
            <a href="{% url 'sign_up' %}" class="btn btn-success">Get Started</a>
   
            {% endif %}
        </div>
    </div>


</div>
{% endblock  %}