/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto&display=swap');
h1,h2,h3,h4,h5 {
    font-family: 'Archivo Black', sans-serif;   
}

p,a,li,ul {
    font-family: 'Roboto', sans-serif; 
}

.site {
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

.site-content {
    flex: 1;
}


#div_id_user,#div_id_list {
    display: none;
}

/*  
base colors:
1. INDIGO DYE: #08415C
1.1. INDIGO DYE T: #08415c8c
2. MADDER LAKE: #CC2936
3. METALLIC SEAWEED: #388697
*/

#my-red {
    color: #CC2936 !important;
}

#my-red-bg {
    background-color: #CC2936 !important;
}



/* NAVBAR */

.my-nav-style {
    background-color: #08415C;
}


.my-nav-style a {
    color: #388697 !important;
}

.my-nav-style a:hover {
    color: #ffffff !important;
}

.my-nav-style a.dropdown-item:hover {
    color: #388697 !important;
    background-color: #08415C;

}

.navbar-toggler{
    border:1px solid #28a745 !important;
}


.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(56,134,151)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}


/* LANDING PAGE */


.landing {
    background: url('../img/payton-tuttle-5wb5-FhQ0M8-unsplash.jpg') no-repeat center;
    background-size: cover;
    color: #388697;
}

.landing .content {
    min-height: 100vh;
    padding-top: 10rem;

    background-color: #08415c8c;

}

.landing h1 {
    font-size: 7rem;
    color: #ffffff;
}   

.landing p {
    line-height: 0.9;
    font-size: 2rem;
}


.landing .btn.btn-success {
    border: 1px solid #CC2936 !important;;
    background-color:  #CC2936 !important;
}


/* REGISTER */

.register {
    background: url('../img/clouds-3467281_1920.jpg') no-repeat center; 
    background-size: cover;  
}


.register .content {
    min-height: 100vh;
    background-color: #388697e8;
    padding-top: 5rem;
}


.register h1 {
    margin: 1.2rem;
    color: #08415C;
}



.register form {
    color: #ffffff;
}

.register form label {
    font-size: 1.5rem !important;
}

.register form ul {
    font-size: 0.8rem;
    color: #CC2936;
    text-align: left !important;
}


/* LOGIN */

.login {
    background: url('../img/glacier-bay-80643_1920.jpg') no-repeat center; 
    background-size: cover;  
}


.login .content {
    background-color: #38869791;
    min-height: 100vh;
    padding-top: 10rem;
}

.login h1 {
    margin: 1.2rem;
    color: #08415C;
}



.login form {
    color: #ffffff;
}

.login form label {
    font-size: 1.5rem !important;
}

.login form ul {
    font-size: 0.8rem;
    color: #CC2936;
    text-align: left !important;
}

/* About page */

.about{
    background: url('../img/glacier-bay-80643_1920.jpg') no-repeat center; 
    background-size: cover;  
}


.about .content {
    background-color: #388697d1;
    min-height: 100vh;
    padding-top: 10rem;
    color: yellow;
}

.about h1 {
    color: #ffffff;
}


/* Password Change form */

.password-change {
    background: url('../img/glacier-bay-80643_1920.jpg') no-repeat center; 
    background-size: cover;  
}


.password-change .content {
    background-color: #388697d1;
    padding-top: 5rem;
    min-height: 100vh;
}

.password-change h1 {
    color: #ffffff;
}

.password-change form ul {
    font-size: 0.8rem;
    text-align: left !important;
}

/* Password change done */

.password-change-done {
    background: url('../img/glacier-bay-80643_1920.jpg') no-repeat center; 
    background-size: cover;  
}


.password-change-done .content {
    background-color: #388697d1;
    padding-top: 10rem;
    min-height: 100vh;
}

.password-change-done h1 {
    color: #ffffff;
}


/* Logged-out page */

.logged-out {
    background: url('../img/glacier-bay-80643_1920.jpg') no-repeat center; 
    background-size: cover;  
}


.logged-out .content {
    background-color: #388697d1;
    padding-top: 10rem;
    min-height: 100vh;
}

.logged-out h1 {
    color: #ffffff;
}


/* Dashboard */

.dashboard {
    background-color: #CC2936;
}
.dashboard small {
    color: #CC2936;
}

.dashboard button.btn.btn-primary {
    background-color: #388697 !important;
    border: 0px solid #388697 !important;
}


.dashboard .content {
    padding-top: 10rem;
    min-height: 100vh;
}

.dashboard .content h1 {
    color: #ffffff;
}
.dashboard .content h1 .user {
    color: #388697;
    text-transform: capitalize;
}

.dashboard .content .card {
    background-color: #08415C;
}

.dashboard .content form {
    line-height: 1.2;
}
.dashboard .content form input {
    margin: 10px;
}
.dashboard .content form label {
    color: #fff;
    font-size: 2rem;
}


/* List view */

.list-view {
    background-color: #CC2936;
}

.list-view h1 {
    color: #08415C;
}

.list-view .content {
    padding-top: 10rem;
    min-height: 100vh;
}

.list-view .content .card {
    background-color: #08415C;

}

.list-view .content form input {
    margin: 10px;
}
.list-view .content form label {
    color: #fff;
    font-size: 2rem;
}

.list-view button.btn.btn-primary {
    background-color: #388697 !important;
    border: 0px solid #388697 !important;
}

.list-view a.btn.btn-primary {
    background-color: #388697 !important;
    border: 0px solid #388697 !important;
}


/* Items */

.item {
    background-color: #CC2936;
}

.item h1 {
    color: #08415C;
}

.item .content {
    padding: 0rem 0rem 5rem 0rem;
}

.item .content .form {
    background-color: #08415C !important;
    border-radius: 8px;
}

.item .content .form h4 {
    color: #388697 !important;
}


.item .content form {

    margin: auto;
}

.item .content form input {
    margin: 10px;
}
.item .content form label {
    color: #fff;
    font-size: 2rem;
}

.item button.btn.btn-primary {
    background-color: #388697 !important;
    border: 0px solid #388697 !important;
}

.item a.btn.btn-primary {
    background-color: #388697 !important;
    border: 0px solid #388697 !important;
}

.item .item-name {
    background-color: #08415C;

}


footer {
    width: 100%;
    position: relative;
    bottom: 0px;
}
textarea {
    width: 80% !important;
}


a {
    color: black;
    text-decoration: none !important;
}



.list-name {
    background-color: #08415C;

}

.list-name h4 {
    color: #fff;
    padding: 0 !important;
    margin: 0 !important;
}
.list-name p {
    color: #fff;
    padding: 0 !important;
    padding: 0 !important;
}


.list-name:hover {
    cursor: pointer;
    background-color: #388697 !important;
}

@media (min-width: 768px) {
    .landing .content {
        padding-top: 20rem;
    }
}

@media (min-width: 992px) {
    .landing .content {
        padding-top: 30rem;
    }
}

@media (min-width: 1200px) {
    .landing .content {
        padding-top: 20rem;
    }
}



