/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto&display=swap');
h1,h2,h3,h4,h5 {
    font-family: 'Archivo Black', sans-serif;   
}

p,a,li,ul {
    font-family: 'Roboto', sans-serif; 
}




#div_id_user,#div_id_list {
    display: none;
}

/*  
base colors:
1. INDIGO DYE: #08415C
1.1. INDIGO DYE T: #08415c8c
2. MADDER LAKE: #CC2936
3. METALLIC SEAWEED: #388697
*/

#my-red {
    color: #CC2936 !important;
}

#my-red-bg {
    background-color: #CC2936 !important;
}



.my-nav-style {
    background-color: #08415C;
}


.my-nav-style a {
    color: #388697 !important;
}

.my-nav-style a:hover {
    color: #ffffff !important;
}

.my-nav-style a.dropdown-item:hover {
    color: #388697 !important;
    background-color: #08415C;

}

.navbar-toggler{
    border:1px solid #388697 !important;
}


.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(56,134,151)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}



.landing {
    background: url('../img/payton-tuttle-5wb5-FhQ0M8-unsplash.jpg') no-repeat center;
    background-size: 35rem;
    color: #388697;
}

.landing .content {
    padding: 9rem 0rem;
    background-color: #08415c8c;

}

.landing h1 {
    font-size: 7rem;
    color: #ffffff;
}   

.landing p {
    line-height: 0.9;
    font-size: 2rem;
}







footer {
    width: 100%;
}
textarea {
    width: 80% !important;
}


a {
    color: black;
    text-decoration: none !important;
}



.list-name {
    background-color: #787c7f;
}

.list-name h4 {
    color: #fff;
    padding: 0 !important;
    margin: 0 !important;
}
.list-name p {
    color: #fff;
    padding: 0 !important;
    padding: 0 !important;
}


.list-name:hover {
    cursor: pointer;
    background-color: dodgerblue !important;
}

.item {
    margin-bottom: 20rem;
}


@media (min-width: 768px)  {
    textarea {
        width: 90% !important;
    }


    

}